<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>KHUKET | My Page</title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="assets/img/favicon1.ico" type="image/x-icon">

    <!-- Font awesome -->
    <link href="assets/css/font-awesome.css" rel="stylesheet">
    <!-- Bootstrap -->
    <link href="assets/css/bootstrap.css" rel="stylesheet">
    <!-- Slick slider -->
    <link rel="stylesheet" type="text/css" href="assets/css/slick.css">
    <!-- Fancybox slider -->
    <link rel="stylesheet" href="assets/css/jquery.fancybox.css" type="text/css" media="screen" />
    <!-- Theme color -->
    <link id="switcher" href="assets/css/theme-color/default-theme.css" rel="stylesheet">

    <!-- Main style sheet -->
    <link href="assets/css/style.css" rel="stylesheet">

    <!-- Google Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,400italic,300,300italic,500,700' rel='stylesheet' type='text/css'>

</head>
<body>
<!-- Start menu -->
<section id="mu-menu">
    <nav class="navbar navbar-default" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <!-- FOR MOBILE VIEW COLLAPSED BUTTON -->
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!-- LOGO -->
                <!-- TEXT BASED LOGO -->
                <a class="navbar-brand" href="/"><span><img src="assets/img/logo.png"> KHUKET</span></a>
                <!-- IMG BASED LOGO  -->
                <!-- <a class="navbar-brand" href="index.html"><img src="assets/img/logo.png" alt="logo"></a> -->
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul id="top-menu" class="nav navbar-nav navbar-right main-nav">
                    <% if(session.buyer_id){ %>
                        <li><a href="/">Home</a></li>
                        <li class="active"><a href="/mypage">My Page</a></li>
                        <li><a href="/gigs">Gigs</a></li>
                        <li><a href="/reselling">Reselling</a></li>
                        <li><a href="/users/logout">Logout</a></li>
                        <li><br><form method=post action ="/gigs/search">
                            <input type="text" name="gig_name">
                            <input type="submit" value="검색">
                        </form></li>
                    <% } else{ %>
                        <meta http-equiv="refresh" content="0;url=/buyers/login">
                    <% } %>
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </nav>
</section>
<!-- End menu -->
<!-- Page breadcrumb -->
<section id="mu-page-breadcrumb">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="mu-page-breadcrumb-area">
                    <h2>My Page</h2>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End breadcrumb -->
<section id="mu-course-content">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="mu-course-content-area">
             <div class="row">
               <div class="col-md-9">
                 <!-- start course content container -->
                 <div class="mu-course-container">
                   <div class="row">
                        <%if(mytickets.length != 0) {%>
                            <% for(var i=0; i<(mytickets).length; i++){%>
                                <div class="col-md-6 col-sm-6">
                                <div class="mu-latest-course-single">
                                <figure class="mu-latest-course-img">
                                    <figcaption class="mu-latest-course-imgcaption">
                                        <a href="#"><%=i+1.%></a>
                                    </figcaption>
                                </figure>
                                <div class="mu-latest-course-single-content">
                                    <h4><a href="#"><%=mytickets[i].ticket_id%></a></h4>
                                    Gig Name : <%=mytickets[i].gig_name %> <br>
                                    Gig Venue: <%=mytickets[i].gig_venue%> <br>
                                    Gig Date Time : <%= mytickets[i].gig_datetime%> <br>
                                    Section ID : <%= mytickets[i].section_id%> <br>
                                    Row ID : <%= mytickets[i].row_id%> <br>
                                    Price : <%= mytickets[i].ticket_price%> <br>
                                    <p>Ticket ID : <%= mytickets[i].ticket_id%> </p>
                                    <div class="mu-latest-course-single-contbottom">
                                        <a class="mu-course-details" href="/mypage/<%=mytickets[i].ticket_id%>">QR CODE</a>
                                        <span class="mu-course-price" href="#"><%=mytickets[i].ticket_price%></span>
                                    </div>
                                    Refund Ticket:
                                    <form method="POST" action="/refund">
                                        <input type="hidden" name="ticket_price" value="<%= mytickets[i].ticket_price%>">
                                        <input type="hidden" name="ticket_id" value="<%= mytickets[i].ticket_id%>">
                                        <input type="hidden" name="gig_datetime" value="<%= mytickets[i].gig_datetime%>">
                                        <input type="hidden" name="gig_venue" value="<%= mytickets[i].gig_venue%>">
                                        <input type="hidden" name="section_id" value="<%= mytickets[i].section_id%>">
                                        <input type="hidden" name="row_id" value="<%= mytickets[i].row_id%>">
                                        <input type="hidden" name="seat_id" value="<%= mytickets[i].seat_id%>">
                                        <input type="hidden" name="gig_name" value="<%= mytickets[i].gig_name%>">
                                        <input type="submit" value="Refund">
                                    </form>
                                    Resell Ticket:
                                    <!--id, starting_time,  current_price, starting_price, ticket_id, end_time, cb-->
                                    <form method="POST" action="/mypage/resell">
                                        <input type="hidden" name="current_price" value="<%= mytickets[i].ticket_price%>">
                                        <input type="hidden" name="ticket_id" value="<%= mytickets[i].ticket_id%>">
                                        <input type="datetime" name="starting_time"> Starting Time <br>
                                        <input type="datetime" name="end_time"> End Time <br>
                                        <input type="number" name="starting_price"> starting_price <br>
                                        <input type="submit" value="Resell">
                                    </form>
                                </div>
                                </div> 
                            </div>
                            <%}%>
                        <%} else {%>
                            <br><h2><strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 구매한 티켓이 없습니다!</strong></h2>
                        <%}%>
                   </div>
                 </div>
                 <!-- end course content container -->
               </div>
               <div class="col-md-3">
                 <!-- start sidebar -->
                 <aside class="mu-sidebar">
                   <!-- start single sidebar -->
                   <div class="mu-single-sidebar">
                     <h3>Personal Info</h3>
                     <ul class="mu-sidebar-catg">
                        <form action="/mypage/update" method="post">
                        <li>이름 &nbsp;&nbsp;&nbsp;: <%=myinfo[0].buyer_name %></li>
                        <li>아이디 : <%= myinfo[0].buyer_id%></li>
                        <li>이메일 : &nbsp; <input name="buyer_email" value="<%= myinfo[0].buyer_email %>"></li>
                        <li>연락처: &nbsp;&nbsp;&nbsp;<input name="buyer_contact" value="<%=myinfo[0].buyer_contact %>"></li>
                        <li>계좌&nbsp;&nbsp;&nbsp; : &nbsp;&nbsp;&nbsp;<input name="buyer_account" value="<%=myinfo[0].buyer_account %>"></li>
                            <button type="submit">Submit</button>
                        </form>
                     </ul>
                   </div>
                   <!-- end single sidebar -->
                   <!-- start single sidebar -->
                    <div class="mu-single-sidebar">
                        <h3>My Notifications</h3>
                        <div class="mu-sidebar-popular-courses">
                            <div class="media">
                                <div class="media-left">
                                    <%for (i =1; i<myinfo.length; i++) { %>
                                    <form method="post" action="/mypage/delete_notification">
                                            <%=i%> .  <%= myinfo[i].notice_buyer_text %> <br>
                                            <input type="hidden" name="notification_index"value="<%= myinfo[i].notification_index%>">
                                            <button type="submit">Delete</button>
                                    </form>
                                    <%}%>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end single sidebar -->
                 </aside>
                 <!-- / end sidebar -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>

<!-- jQuery library -->
<script src="assets/js/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="assets/js/bootstrap.js"></script>
<!-- Slick slider -->
<script type="text/javascript" src="assets/js/slick.js"></script>
<!-- Counter -->
<script type="text/javascript" src="assets/js/waypoints.js"></script>
<script type="text/javascript" src="assets/js/jquery.counterup.js"></script>
<!-- Mixit slider -->
<script type="text/javascript" src="assets/js/jquery.mixitup.js"></script>
<!-- Add fancyBox -->
<script type="text/javascript" src="assets/js/jquery.fancybox.pack.js"></script>

<!-- Custom js -->
<script src="assets/js/custom.js"></script>

</body>
</html>