<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Font awesome -->
    <link href="../assets/css/font-awesome.css" rel="stylesheet">
    <!-- Bootstrap -->
    <link href="../assets/css/loading.css" rel="stylesheet">   
    <link href="../assets/css/bootstrap.css" rel="stylesheet">   
    <meta charset="UTF-8">
    <title>KHUKET | Ticket Details</title>
</head>
<body>
     <div class="jumbotron vertical-center">
    <div class="load-bar">
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>
    </div>
    <br> <br>
    
    <canvas id="canvas"></canvas>
 <br> <br>

    Owner ID: <%=user_id%> <br>
    Ticket ID: <%=ticketinfo.ticket_id%> <br>
    Ticket Price: <%=ticketinfo.ticket_price%> <br>
    GIg Name: <%=ticketinfo.gig_name%> <br>
    Gig Venue: <%=ticketinfo.gig_venue%> <br>
    Gig Date Time: <%=ticketinfo.gig_datetime%> <br>
    Section ID: <%=ticketinfo.section_id%> <br>
    Seat row ID: <%=ticketinfo.row_id%> <br>
    Seat ID: <%=ticketinfo.seat_id%> <br>
    <br> <br>

    <div class="load-bar">
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>
    </div>
</div>
</body>
</html>

<script src="/build/qrcode.min.js"></script>
<script>



  QRCode.toCanvas(document.getElementById('canvas'),  "<%=JSON.stringify(ticketinfo)%>" , function (error) {
    if (error) console.error(error)
    console.log('success!');
  })
</script> 