<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Administrator's Page</title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="../assets/img/favicon.ico" type="image/x-icon">

    <!-- Font awesome -->
    <link href="../assets/css/font-awesome.css" rel="stylesheet">
    <!-- Bootstrap -->
    <link href="../assets/css/bootstrap.css" rel="stylesheet">
    <!-- Slick slider -->
    <link rel="stylesheet" type="text/css" href="../assets/css/slick.css">
    <!-- Fancybox slider -->
    <link rel="stylesheet" href="../assets/css/jquery.fancybox.css" type="text/css" media="screen" />
    <!-- Theme color -->
    <link id="switcher" href="../assets/css/theme-color/default-theme.css" rel="stylesheet">

    <!-- Main style sheet -->
    <link href="../assets/css/style.css" rel="stylesheet">

    <!-- Google Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,400italic,300,300italic,500,700' rel='stylesheet' type='text/css'>

</head>
<body>
<!-- Start menu -->
<% if(session.admin_id){ %>
<section id="mu-menu">
    <nav class="navbar navbar-default" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <!-- FOR MOBILE VIEW COLLAPSED BUTTON -->
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!-- LOGO -->
                <!-- TEXT BASED LOGO -->
                <a class="navbar-brand" href="/"><i class="fa fa-university"></i><span>Ticketing Service</span></a>
                <!-- IMG BASED LOGO  -->
                <!-- <a class="navbar-brand" href="index.html"><img src="../assets/img/logo.png" alt="logo"></a> -->
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul id="top-menu" class="nav navbar-nav navbar-right main-nav">
                    <li><a href="/">Home</a></li>
                    <li class="active"><a href="/administrators" >My Page</a></li>
                    <li><a href="/gigs">Gigs</a></li>
                    <li><a href="/users/logout">Logout</a></li>
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </nav>
</section>
<!-- End menu -->
<!-- Start search box -->
<div id="mu-search">
    <div class="mu-search-area">
        <button class="mu-search-close"><span class="fa fa-close"></span></button>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <form class="mu-search-form">
                        <input type="search" placeholder="Type Your Keyword(s) & Hit Enter">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End search box -->
<!-- Page breadcrumb -->
<section id="mu-page-breadcrumb">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="mu-page-breadcrumb-area">
                    <h2>Administrator's Page</h2>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End breadcrumb -->
<section id="mu-course-content">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="mu-course-content-area">
                    <div class="row">
                        <div class="col-md-11">
                            <!-- start course content container -->
                            <div class="mu-course-container">
                                <div class="row">
                                    <h4><strong>등록 요청중인 공연 목록</strong></h4><br>
                                    <div class="table-responsive">
                                      <table class="table">
                                      <thead>
                                        <tr>
                                          <th> 공연 이름 </th>
                                          <th> 공연 장소 </th>
                                          <th> 공연 날짜 </th>
                                          <th> 공연 좌석 수 </th>
                                          <th> 공연 설명 </th>
                                        </tr>
                                      </thead>
                                      <% for(let gigs of result) { %>
                                        <% if (gigs.pending == 2) { %>
                                      <tbody>
                                        <tr>
                                          <td><%= gigs.gig_name %></td>
                                          <td><%= gigs.gig_venue %></td>
                                          <td><%= gigs.gig_date_time %></td>
                                          <td><%= gigs.gig_total_seatnum %></td>
                                          <td><%= gigs.gig_description %></td>
                                          <form method="post" action="/administrators/accept_gig">
                                          <input type="hidden" name="gig_index" value="<%=gigs.gig_index%>">
                                          <td><input type="submit" name="pending" value="accept"></td>
                                          <td><input type="submit" name="pending" value="deny"></td></form>
                                        </tr>
                                      </tbody>
                                      <% } %>
                                    <% } %>
                                    </table>
                                </div>
                            </div>
                            <div class="mu-course-container">
                                <div class="row">
                                  <br><h4><strong>등록 완료된 공연 목록</strong></h4><br>
                                    <div class="table-responsive">
                                      <table class="table">
                                      <thead>
                                        <tr>
                                          <th> 공연 이름 </th>
                                          <th> 공연 장소 </th>
                                          <th> 공연 날짜 </th>
                                          <th> 공연 좌석 수 </th>
                                          <th> 공연 설명 </th>
                                        </tr>
                                      </thead>
                                      <% for(let gigs of result) { %>
                                        <% if (gigs.pending == 1) { %>
                                      <tbody>
                                        <tr>
                                          <td><%= gigs.gig_name %></td>
                                          <td><%= gigs.gig_venue %></td>
                                          <td><%= gigs.gig_date_time %></td>
                                          <td><%= gigs.gig_total_seatnum %></td>
                                          <td><%= gigs.gig_description %></td>
                                        </tr>
                                      </tbody>
                                      <% } %>
                                    <% } %>
                                    </table>
                                </div>
                            </div>
                            <div class="mu-course-container">
                                <div class="row">
                                    <br><h4><strong>등록 거절된 공연 목록</strong></h4><br>
                                    <div class="table-responsive">
                                      <table class="table">
                                      <thead>
                                        <tr>
                                          <th> 공연 이름 </th>
                                          <th> 공연 장소 </th>
                                          <th> 공연 날짜 </th>
                                          <th> 공연 좌석 수 </th>
                                          <th> 공연 설명 </th>
                                        </tr>
                                      </thead>
                                      <% for(let gigs of result) { %>
                                        <% if (gigs.pending == 0) { %>
                                      <tbody>
                                        <tr>
                                          <td><%= gigs.gig_name %></td>
                                          <td><%= gigs.gig_venue %></td>
                                          <td><%= gigs.gig_date_time %></td>
                                          <td><%= gigs.gig_total_seatnum %></td>
                                          <td><%= gigs.gig_description %></td>
                                        </tr>
                                      </tbody>
                                      <% } %>
                                    <% } %>
                                    </table>
                                </div>
                            </div>
                            <!-- end course content container -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<% } else{ %>
  <meta http-equiv="refresh" content="0;url=/administrators/login">
<% } %>

<!-- jQuery library -->
<script src="../assets/js/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="../assets/js/bootstrap.js"></script>
<!-- Slick slider -->
<script type="text/javascript" src="../assets/js/slick.js"></script>
<!-- Counter -->
<script type="text/javascript" src="../assets/js/waypoints.js"></script>
<script type="text/javascript" src="../assets/js/jquery.counterup.js"></script>
<!-- Mixit slider -->
<script type="text/javascript" src="../assets/js/jquery.mixitup.js"></script>
<!-- Add fancyBox -->
<script type="text/javascript" src="../assets/js/jquery.fancybox.pack.js"></script>

<!-- Custom js -->
<script src="../assets/js/custom.js"></script>

</body>
</html>