<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Ticketing Service | Gig Details</title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="../assets/img/favicon1.ico" type="image/x-icon">

    <!-- Font awesome -->
    <link href="../assets/css/font-awesome.css" rel="stylesheet">
    <!-- Bootstrap -->
    <link href="../assets/css/bootstrap.css" rel="stylesheet">
    <!-- Slick slider -->
    <link rel="stylesheet" type="text/css" href="../assets/css/slick.css">
    <!-- Fancybox slider -->
    <link rel="stylesheet" href="../assets/css/jquery.fancybox.css" type="text/css" media="screen" />
    <!-- Theme color -->
    <link id="switcher" href="../assets/css/theme-color/default-theme.css" rel="stylesheet">

    <!-- Main style sheet -->
    <link href="../assets/css/style.css" rel="stylesheet">


    <!-- Google Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,400italic,300,300italic,500,700' rel='stylesheet' type='text/css'>

</head>
<body>

<!--START SCROLL TOP BUTTON -->
<a class="scrollToTop" href="#">
    <i class="fa fa-angle-up"></i>
</a>
<!-- END SCROLL TOP BUTTON -->
<!-- Start menu -->
<section id="mu-menu">
    <nav class="navbar navbar-default" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <!-- FOR MOBILE VIEW COLLAPSED BUTTON -->
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!-- LOGO -->
                <!-- TEXT BASED LOGO -->
                <a class="navbar-brand" href="/"><span><img src="../assets/img/logo.png"> Ticketing Service</span></a>
                <!-- IMG BASED LOGO  -->
                <!-- <a class="navbar-brand" href="index.html"><img src="assets/img/logo.png" alt="logo"></a> -->
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul id="top-menu" class="nav navbar-nav navbar-right main-nav">
                    <!-- Start session -->
                    <% if(session.admin_id) { %>
                        <li><a href="/">Home</a></li>
                        <li><a href="/administrators" >My Page</a></li>
                        <li class="active"><a href="/gigs">Gigs</a></li>
                        <li><a href="/users/logout" >Logout</a></li>
                    <% } else if(session.organizer_id) { %>
                        <li><a href="/">Home</a></li>
                        <li><a href="/organizers" >My Page</a></li>
                        <li class="active"><a href="/gigs">Gigs</a></li>
                        <li><a href="/organizers/add_gig" >Add Gig</a></li>
                        <li><a href="/users/logout" >Logout</a></li>
                    <% } else if(session.buyer_id) { %>
                        <li><a href="/">Home</a></li>
                        <li><a href="/mypage">My Page</a></li>
                        <li class="active"><a href="/gigs">Gigs</a></li>
                        <li><a href="/reselling">Reselling</a></li>
                        <li><a href="/users/logout">Logout</a></li>
                    <% } else { %>
                        <li><a href="/">Home</a></li>
                        <li class="active"><a href="/gigs">Gigs</a></li>
                        <li><a href="/buyers/login" >Login</a></li>
                    <% } %>
                    <!-- End session -->
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </nav>
</section>
<!-- End menu -->
<!-- Start search box -->

<!-- Page breadcrumb -->
<section id="mu-page-breadcrumb">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="mu-page-breadcrumb-area">
                    <h2><%=gigdetails[gig_index-1].gig_name%></h2>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End breadcrumb -->
<section id="mu-course-content">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="mu-course-content-area">
                    <div class="row">
                        <div class="col-md-9">
                            <!-- start course content container -->
                            <div class="mu-course-container mu-blog-single">
                                <div class="row">
                                    <div class="col-md-12">
                                        <article class="mu-blog-single-item">
                                            <figure class="mu-blog-single-img">
                                                <a href="#"><img alt="img" src="../assets/img/blog/theater-seat-layout.png"></a>
                                                <a href="#"><img alt="img" src="<%=gigdetails[gig_index-1].gig_image%>"></a>
                                            </figure>
                                            <div class="mu-blog-description">
                                                <br><h1><strong><%=gigdetails[gig_index-1].gig_name%></strong></h1><br>
                                                <p><%=gigdetails[gig_index-1].gig_description%></p><br>
                                                <h4><strong>공연 날짜</strong></h4>
                                                <p><%=gigdetails[gig_index-1].gig_date_time%></p><br>
                                                <h4><strong>공연 장소</strong></h4>
                                                <p><%=gigdetails[gig_index-1].gig_venue%></p><br>
                                                <h4><strong>공지 사항</strong></h4>
                                                <p><span style="color: #0000ff">※공연 연출 컨셉, 아티스트 위치, 구조물이나 무대장치 등 상황에 따른 시야방해가 있을 수 있으며, <br />공연 당일 시야 제한을 이유로 취소, 변경, 환불이 불가합니다. <br />주최사 및 예매처는 이로 인하여 발생한 문제를 해결해 드릴 수 없으므로 신중한 티켓 구매 부탁 드립니다<br /><br /></span><span style="color: #0000ff">*추가 티켓오픈 준비를 위해 00월 00일(월) 09시부터 13시 59분까지 전 회차 공연에 대한 예매, 취소 후 재예매, 예매대기서비스를 통한 좌석확보나 결제 등이 불가(취소만 가능)하오니 참고 부탁 드립니다.<br />※예매 대기 서비스 통해 좌석 확보된 대상 고객님에게는 카카오톡 알림 또는 sms, 이메일로 알려드리며, <br />알람 후 6시간 내 결제해야만 예매 가능합니다.</span><br /><br />［매수제한］<br />- 일반예매: 회당 1인 2매 <br /><br />［휠체어석 예매 안내］<br />- 휠체어석 구매는 00월 00일(월) 오전 10시부터 고객센터를 통해 전화예매만 가능합니다.<br />&nbsp;&nbsp; (고객센터 운영시간 오전 9시&nbsp;- 오후 6시)<br />- 본 공연의 휠체어석은 의자가 없는 공간으로 휠체어를 이용하는 관객만 구매 가능한 좌석이며, <br />&nbsp; 동반 1인 포함 총 2매까지 예매가 가능합니다.<br />- 공연 당일 휠체어 이용+장애인 등록증(또는 복지카드)과 본인 신분증 실물 확인 후 티켓 수령이 이루어지며, <br />&nbsp; 미지참시 예매자 및 동반 1인도 입장이 불가합니다.<br />- 휠체어석 예매티켓은 현장수령만 가능하며 구매자 본인 티켓 수령을 원칙으로 하고 있습니다.<br />* 티켓 대리 수령 및 양도는 불가합니다.<br />* 복지카드를 소지하고 계시더라도 휠체어를 이용하지 않는 관객은 구매가 불가합니다.<br /><br />［티켓 현장 수령 유의 사항］<br />예매하신 티켓의 현장 수령은 예매자 본인에 한해서만 가능합니다. <br />사진이 부착된 실물 신분증(예: 주민등록증, 운전면허증, 학생증, 여권)과 예매내역서를 모두 지참하셔야 합니다. <br />- 지참하신 신분증과 티켓 예매내역서의 정보가 일치해야 티켓 수령이 가능하오니 반드시 사전 확인 부탁 드립니다.<br /><br />티켓 미소지시에는 어떠한 사유로도 입장이 불가합니다.</p><br />

                                                <h4><strong>예매 취소 조건</strong></h4><br />
                                                <table width="100%" cellspacing="0" cellpadding="0" class="inner_table">
                                                    <colgroup>
                                                        <col width="50%" />
                                                        <col width="" />
                                                    </colgroup>
                                                    <tr>
                                                        <th class="left">취소일</th>
                                                        <th class="right">취소수수료</th>
                                                    </tr>
                                                        <tr>
                            
                                                            <td class="left">예매 후 7일 이내</td>
                                                            <td class="right">없음</td>
                                
                                                        </tr>
                        
                                                    <tr>
                                                        <td class="left">예매 후 8일~관람일 10일전까지</td>
                                                        <td class="right">장당 4,000원(티켓금액의 10%한도)</td>
                                                    </tr>
                                
                                                    <tr>
                                                        <td class="left">관람일 9일전~7일전까지</td>
                                                        <td class="right">티켓금액의 10%</td>
                                                    </tr>
                                
                                                    <tr>
                                                        <td class="left">관람일 6일전~3일전까지</td>
                                                        <td class="right">티켓금액의 20%</td>
                                                    </tr>
                                
                                                    <tr>
                                                        <td class="left">관람일 2일전~1일전까지</td>
                                                        <td class="right">티켓금액의 30%</td>
                                                    </tr>
                                                </table>
                                        </article>
                                    </div>
                                </div>
                            </div>
                            <!-- end course content container -->
                        </div>
                        <div class="col-md-3">
                            <!-- start sidebar -->
                            <aside class="mu-sidebar">
                                <!-- start single sidebar -->
                                <div class="mu-single-sidebar">
                                    <h3><%=gigdetails[gig_index-1].gig_name%></h3>
                                    <ul class="mu-sidebar-catg">
                                        <% if(session.buyer_id) { %>
                                        <li><a href="/gigs/buy/<%=gig_index%>">Buy Ticket!</a></li>
                                        <% } else { %>
                                        <li><a href="/buyers/login">Buy Ticket!</a></li>
                                        <% } %>
                                    </ul>
                                </div>
                                <!-- end single sidebar -->
                            </aside>
                            <!-- / end sidebar -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<!-- jQuery library -->
<script src="../assets/js/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="../assets/js/bootstrap.js"></script>
<!-- Slick slider -->
<script type="text/javascript" src="../assets/js/slick.js"></script>
<!-- Counter -->
<script type="text/javascript" src="../assets/js/waypoints.js"></script>
<script type="text/javascript" src="../assets/js/jquery.counterup.js"></script>
<!-- Mixit slider -->
<script type="text/javascript" src="../assets/js/jquery.mixitup.js"></script>
<!-- Add fancyBox -->
<script type="text/javascript" src="../assets/js/jquery.fancybox.pack.js"></script>

<!-- Custom js -->
<script src="../assets/js/custom.js"></script>

</body>
</html>