<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Gig section info</title>
</head>
<body>
SELECT SECTION!!! <br> <br>
Gig total seat num:<%=totalseatnum%>
<%for (var i=0; i<gigsale.length; i++){%>
    Section Index: <%=gigsale[i].section_index%> <br>
    Section ID: <%=gigsale[i].section_id%> <br>
    SEAT PRICE: <%=gigsale[i].seat_price%> <br>
<form method="get" action="/gigs/buy/<%=gig_index%>/<%=gigsale[i].section_id%>" >
    <input type="hidden" name="totalseatnum" value="<%=totalseatnum%>">
    <input type="submit" value="Select SEAT!">
</form>
<%}%>
</body>
</html>