<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Gig SEAT info</title>
</head>
<body>
SELECT SEAT!!! <br> <br>
Gig total seat num:<%=totalseatnum%>
<form method="post" action="/gigs/purchase/<%=gig_index%>" >
<%for (var i=0; i<gigsale.length; i++){%>
    <input type="checkbox" id="<%=gigsale[i].seat_index%>" name="seat_index" value="<%=gigsale[i].seat_index%>">
Seat INDEX: <%=gigsale[i].seat_index%> <br>
Seat row Index: <%=gigsale[i].seat_row_index%> <br>
 <br>

<%}%>
    <input type="submit">
</form>
<!--seat array 넘기기! but max ticket 수 넘으면 error! -->
</body>
</html>