<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Gig SEAT info</title>
</head>
<body>
SELECT SEAT!!! <br> <br>

<form method="post" action="/gigs/purchaselist" >
<%for (var i=0; i<gigsale.length; i++){%>
    <input type="checkbox" id="<%=gigsale[i].seat_index%>" name="seat_index" value="<%=gigsale[i].seat_index%>">
Seat INDEX: <%=gigsale[i].seat_index%> <br>
Seat row Index: <%=gigsale[i].seat_row_index%> <br>
 <br>

<%}%>
<input type ="hidden" name="gig_index" value = "<%=gig_index%>">
<input type ="hidden" name="section_id" value = "<%=section_id%>">
    <input type="submit">
</form>
<!--seat array 넘기기! but max ticket 수 넘으면 error! -->
</body>
</html>